# macOS
.DS_Store

# node
node_modules/
.pnpm-debug.log*
dist/
*.tsbuildinfo
.npm
.pnpm-store/

# env
.env
.env.*
!.env.example

# editors
.vscode/
.idea/

# packed tarballs
*.tgz

# build
coverage/
.vitest/

# local scratch scripts
packages/*/test.ts

# vitepress
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/.vitepress/.temp/
